In [156]:
from urllib.request import urlretrieve
import zipfile
import pandas as pd
import numpy as np
import random

users_cols = ['user_id', 'age', 'sex', 'occupation', 'zip_code']
users = pd.read_csv(
    'data/u.user', sep='|', names=users_cols, encoding='latin-1')

ratings_cols = ['user_id', 'movie_id', 'rating', 'unix_timestamp']
ratings = pd.read_csv(
    'data/u.data', sep='\t', names=ratings_cols, encoding='latin-1')

# The movies file contains a binary feature for each genre.
genre_cols = [
    "genre_unknown", "Action", "Adventure", "Animation", "Children", "Comedy",
    "Crime", "Documentary", "Drama", "Fantasy", "Film-Noir", "Horror",
    "Musical", "Mystery", "Romance", "Sci-Fi", "Thriller", "War", "Western",
]
movies_cols = [
    'movie_id', 'title', 'release_date', "video_release_date", "imdb_url"
] + genre_cols
movies = pd.read_csv(
    'data/u.item', sep='|', names=movies_cols, encoding='latin-1')

# Since the ids start at 1, we shift them to start at 0.
users["user_id"] = users["user_id"].apply(lambda x: str(x-1))
movies["movie_id"] = movies["movie_id"].apply(lambda x: str(x-1))
movies["year"] = movies['release_date'].apply(lambda x: str(x).split('-')[-1])
ratings["movie_id"] = ratings["movie_id"].apply(lambda x: str(x-1))
ratings["user_id"] = ratings["user_id"].apply(lambda x: str(x-1))
ratings["rating"] = ratings["rating"].apply(lambda x: float(x))


genre_occurences = movies[genre_cols].sum().to_dict()

genres_encoded = {x: i for i, x in enumerate(genre_cols)}



def get_genres(movies, genres):
    def get_all_genres(gs):
        active = [str(genres_encoded[genre]) for genre, g in zip(genres, gs) if g==1]
        if len(active) == 0:
            return '0'
        return ','.join((active))
    movies['all_genres'] = [
        get_all_genres(gs) for gs in zip(*[movies[genre] for genre in genres])]

get_genres(movies, genre_cols) # 각 유저가 본 장르 얻기

rating_details_sample = ratings.merge(movies, on='movie_id').merge(users, on='user_id')

rating_details_sample['user_id']=rating_details_sample['user_id'].astype(int)
rating_details_sample['movie_id']=rating_details_sample['movie_id'].astype(int)
rating_details_sample=rating_details_sample.set_index(['user_id','unix_timestamp']).sort_index()
rating_details_sample =rating_details_sample.reset_index()

rating_details_sample['movie_type']=np.where(rating_details_sample['rating'] >= 3, 'like', 'dislike') # 3보다 크면 like
rating_details_sample['movie_name']=rating_details_sample['title'].str[:-6] # 년도 부분 자르기

user_ids = rating_details_sample["user_id"].unique().tolist()
user2user_encoded = {x: i for i, x in enumerate(user_ids)}
userencoded2user = {i: x for i, x in enumerate(user_ids)}

movie_ids = rating_details_sample["movie_id"].unique().tolist()
movie2movie_encoded = {x: i for i, x in enumerate(movie_ids)}
movie_encoded2movie = {i: x for i, x in enumerate(movie_ids)}


title_ids = rating_details_sample["movie_name"].unique().tolist()
title2title_encoded = {x: i for i, x in enumerate(title_ids)}
title_encoded2title = {i: x for i, x in enumerate(title_ids)}

rating_details_sample["user"] = rating_details_sample["user_id"].map(user2user_encoded)
rating_details_sample["movie"] = rating_details_sample["movie_id"].map(movie2movie_encoded)
rating_details_sample["title_d"] = rating_details_sample["movie_name"].map(title2title_encoded)

sample_data=rating_details_sample[['user','occupation','sex']]
sample_data=sample_data.reset_index()

movie_list = rating_details_sample.groupby(['user','movie_type'])['movie'].apply(list).reset_index()
title_list = rating_details_sample.groupby(['user'])['title_d'].apply(list).reset_index()
genre_list = rating_details_sample.groupby(['user'])['all_genres'].unique().apply(list).reset_index()

# Get the unique set of genre for all the users
genre_list['all_genres']=genre_list['all_genres'].apply(lambda x: list(set(','.join(x))) ) # 중복제거
genre_list['all_genres']=genre_list['all_genres'].apply(lambda x:[ x for x in x if x.isdigit() ])

user_video_list = movie_list.pivot(index='user', columns='movie_type', values='movie').reset_index()
user_video_list.fillna(rating_details_sample["movie"].max()+1, inplace=True)

sample_data = sample_data.drop('index',axis=1)
sample_data = sample_data.drop_duplicates()

user_final_list = pd.merge(user_video_list,title_list, how= 'left')
user_title_list1 = pd.merge(user_final_list,genre_list, how='left')
user_title_list = pd.merge(user_title_list1,sample_data, how='left')

user_title_list['like'] =user_title_list['like'].apply(lambda x: x if type(x) is list else [x])
user_title_list['dislike'] =user_title_list['dislike'].apply(lambda x: x if type(x) is list else [x])
user_title_list['predict_labels'] = user_title_list['like'].apply(lambda x: int(random.uniform(0,rating_details_sample["movie"].max()))) #label을 마지막 값으로..
# user_title_list['predict_labels'] = user_title_list['like'].apply(lambda x: (x[-1])) #label을 마지막 값으로..
# user_title_list['like']=user_title_list['like'].apply(lambda x: (x[:-1])) # 마지막 인덱스 레이블로 쓰고 제외
# user_title_list['like']=user_title_list['like'].apply(lambda x: [rating_details_sample["movie"].max()+2] if x == [] else x)

# user_title_list['predict_labels'] = user_title_list['predict_labels'].apply(lambda x: 1 if x == 10 else x)

user_title_list_e=user_title_list[(user_title_list.user >= 1)&
                                  (user_title_list.user <= 5)]
test_data=user_title_list[(user_title_list.user >= 6)&
                                  (user_title_list.user <= 9)]

In [157]:
ratings

   user_id movie_id  rating  unix_timestamp
0        0        9     3.0       881250949
1        1        1     3.0       891717742
2        0        2     1.0       878887116
3        9        0     2.0       880606923
4        8        0     1.0       886397596
5        7        0     4.0       884182806
6        0        8     2.0       881171488
7        1        6     5.0       891628467
8        2        7     3.0       886324817
9        0        4     3.0       883603013
10       4        3     2.0       879372434
11       2        2     5.0       879781125
12       6        1     5.0       876042340
13       5        5     3.0       891035994
14       7        6     3.0       888104457
15       6        7     3.0       879485318
16       7        9     5.0       879270459
17       3        7     2.0       879539794

In [158]:
test_data

,user,dislike,like,title_d,all_genres,occupation,sex,predict_labels
6,6,[10],"[5, 6]","[5, 6]","[2, 5, 4, 8, 6, 1]",administrator,M,4
7,7,[10],"[2, 9, 4]","[2, 9, 4]","[5, 4, 8, 3, 1, 7]",administrator,M,3
8,8,[9],[10],[9],"[3, 4, 5]",student,M,3
9,9,[9],[10],[9],"[3, 4, 5]",lawyer,M,8

In [159]:
EMBEDDING_DIMS = 16
DENSE_UNITS = 64
DROPOUT_PCT = 0.0
ALPHA = 0.0
NUM_CLASSES=rating_details_sample["movie"].max() + 3
LEARNING_RATE = 0.003

In [160]:
import tensorflow as tf
class MaskedEmbeddingsAggregatorLayer(tf.keras.layers.Layer):
    def __init__(self, agg_mode='sum', **kwargs):
        super(MaskedEmbeddingsAggregatorLayer, self).__init__(**kwargs)

        if agg_mode not in ['sum', 'mean']:
            raise NotImplementedError('mode {} not implemented!'.format(agg_mode))
        self.agg_mode = agg_mode
    
    @tf.function
    def call(self, inputs, mask=None):
        masked_embeddings = tf.ragged.boolean_mask(inputs, mask)
        if self.agg_mode == 'sum':
            aggregated =  tf.reduce_sum(masked_embeddings, axis=1)
        elif self.agg_mode == 'mean':
            aggregated = tf.reduce_mean(masked_embeddings, axis=1)
        return aggregated
    
    def get_config(self):
        # this is used when loading a saved model that uses a custom layer
        return {'agg_mode': self.agg_mode}
    
class L2NormLayer(tf.keras.layers.Layer):
    def __init__(self, **kwargs):
        super(L2NormLayer, self).__init__(**kwargs)
    
    @tf.function
    def call(self, inputs, mask=None):
        if mask is not None:
            inputs = tf.ragged.boolean_mask(inputs, mask).to_tensor()
        return tf.math.l2_normalize(inputs, axis=-1)

    def compute_mask(self, inputs, mask):
        return mask

In [161]:
#---inputs
import tensorflow as tf
import datetime
import os
input_title = tf.keras.Input(shape=(None, ), name='movie_name')
inp_video_liked = tf.keras.layers.Input(shape=(None,), name='like')
inp_video_disliked = tf.keras.layers.Input(shape=(None,), name='dislike')
input_genre = tf.keras.Input(shape=(None, ), name='genre')


#--- layers
features_embedding_layer = tf.keras.layers.Embedding(input_dim=NUM_CLASSES, output_dim=EMBEDDING_DIMS, 
                                            mask_zero=True, trainable=True, name='features_embeddings')
labels_embedding_layer = tf.keras.layers.Embedding(input_dim=NUM_CLASSES, output_dim=EMBEDDING_DIMS, 
                                            mask_zero=True, trainable=True, name='labels_embeddings')

avg_embeddings = MaskedEmbeddingsAggregatorLayer(agg_mode='mean', name='aggregate_embeddings')

dense_1 = tf.keras.layers.Dense(units=DENSE_UNITS, name='dense_1')
dense_2 = tf.keras.layers.Dense(units=DENSE_UNITS, name='dense_2')
dense_3 = tf.keras.layers.Dense(units=DENSE_UNITS, name='dense_3')
l2_norm_1 = L2NormLayer(name='l2_norm_1')

dense_output = tf.keras.layers.Dense(NUM_CLASSES, activation=tf.nn.softmax, name='dense_output')

#--- features
features_embeddings = features_embedding_layer(input_title)
l2_norm_features = l2_norm_1(features_embeddings)
avg_features = avg_embeddings(l2_norm_features)

labels_liked_embeddings = labels_embedding_layer(inp_video_liked)
l2_norm_liked = l2_norm_1(labels_liked_embeddings)
avg_liked = avg_embeddings(l2_norm_liked)

labels_disliked_embeddings = labels_embedding_layer(inp_video_disliked)
l2_norm_disliked = l2_norm_1(labels_disliked_embeddings)
avg_disliked = avg_embeddings(l2_norm_disliked)

labels_genre_embeddings = labels_embedding_layer(input_genre)
l2_norm_genre = l2_norm_1(labels_genre_embeddings)
avg_genre = avg_embeddings(l2_norm_genre)


# 임베딩 벡터들 연결
concat_inputs = tf.keras.layers.Concatenate(axis=1)([avg_features,
                                                     avg_liked,
                                                     avg_disliked,
                                                     avg_genre
                                                     ])
# Dense Layers
dense_1_features = dense_1(concat_inputs)
dense_1_relu = tf.keras.layers.ReLU(name='dense_1_relu')(dense_1_features)
dense_1_batch_norm = tf.keras.layers.BatchNormalization(name='dense_1_batch_norm')(dense_1_relu)

dense_2_features = dense_2(dense_1_relu)
dense_2_relu = tf.keras.layers.ReLU(name='dense_2_relu')(dense_2_features)
# dense_2_batch_norm = tf.keras.layers.BatchNormalization(name='dense_2_batch_norm')(dense_2_relu)

dense_3_features = dense_3(dense_2_relu)
dense_3_relu = tf.keras.layers.ReLU(name='dense_3_relu')(dense_3_features)
dense_3_batch_norm = tf.keras.layers.BatchNormalization(name='dense_3_batch_norm')(dense_3_relu)
outputs = dense_output(dense_3_batch_norm)

#Optimizer
optimiser = tf.keras.optimizers.Adam(learning_rate=LEARNING_RATE)

#--- prep model
model = tf.keras.models.Model(
    inputs=[input_title, inp_video_liked, 
            inp_video_disliked,
            input_genre
            ],
    outputs=[outputs]
)
logdir = os.path.join("logs", datetime.datetime.now().strftime("%Y%m%d-%H%M%S"))
tensorboard_callback = tf.keras.callbacks.TensorBoard(logdir, histogram_freq=1)
model.compile(optimizer=optimiser, loss='sparse_categorical_crossentropy', metrics=['acc'])

# model.summary()

In [162]:
history = model.fit([tf.keras.preprocessing.sequence.pad_sequences(user_title_list_e['title_d']),
           tf.keras.preprocessing.sequence.pad_sequences(user_title_list_e['like']),
           tf.keras.preprocessing.sequence.pad_sequences(user_title_list_e['dislike']),
            tf.keras.preprocessing.sequence.pad_sequences(user_title_list_e['all_genres'])
           ],user_title_list_e['predict_labels'].values,
           steps_per_epoch=1, epochs=100)

Epoch 1/100
1/1 [==============================] - 0s 1ms/step - loss: 2.7424 - acc: 0.0000e+00
Epoch 2/100
1/1 [==============================] - 0s 1ms/step - loss: 1.5698 - acc: 0.4000
Epoch 3/100
1/1 [==============================] - 0s 956us/step - loss: 0.9859 - acc: 0.8000
Epoch 4/100
1/1 [==============================] - 0s 1ms/step - loss: 0.6841 - acc: 1.0000
Epoch 5/100
1/1 [==============================] - 0s 837us/step - loss: 0.4902 - acc: 1.0000
Epoch 6/100
1/1 [==============================] - 0s 1ms/step - loss: 0.3778 - acc: 1.0000
Epoch 7/100
1/1 [==============================] - 0s 760us/step - loss: 0.2967 - acc: 1.0000
Epoch 8/100
1/1 [==============================] - 0s 1ms/step - loss: 0.2359 - acc: 1.0000
Epoch 9/100
1/1 [==============================] - 0s 965us/step - loss: 0.1889 - acc: 1.0000
Epoch 10/100
1/1 [==============================] - 0s 1ms/step - loss: 0.1540 - acc: 1.0000
Epoch 11/100
1/1 [==============================] - 0s 853us/step - loss: 0.1259 - acc: 1.0000
Epoch 12/100
1/1 [==============================] - 0s 1ms/step - loss: 0.1038 - acc: 1.0000
Epoch 13/100
1/1 [==============================] - 0s 1ms/step - loss: 0.0860 - acc: 1.0000
Epoch 14/100
1/1 [==============================] - 0s 793us/step - loss: 0.0712 - acc: 1.0000
Epoch 15/100
1/1 [==============================] - 0s 1ms/step - loss: 0.0595 - acc: 1.0000
Epoch 16/100
1/1 [==============================] - 0s 1ms/step - loss: 0.0503 - acc: 1.0000
Epoch 17/100
1/1 [==============================] - 0s 835us/step - loss: 0.0428 - acc: 1.0000
Epoch 18/100
1/1 [==============================] - 0s 1ms/step - loss: 0.0369 - acc: 1.0000
Epoch 19/100
1/1 [==============================] - 0s 912us/step - loss: 0.0322 - acc: 1.0000
Epoch 20/100
1/1 [==============================] - 0s 781us/step - loss: 0.0283 - acc: 1.0000
Epoch 21/100
1/1 [==============================] - 0s 750us/step - loss: 0.0251 - acc: 1.0000
Epoch 22/100
1/1 [==============================] - 0s 963us/step - loss: 0.0225 - acc: 1.0000
Epoch 23/100
1/1 [==============================] - 0s 911us/step - loss: 0.0203 - acc: 1.0000
Epoch 24/100
1/1 [==============================] - 0s 769us/step - loss: 0.0184 - acc: 1.0000
Epoch 25/100
1/1 [==============================] - 0s 888us/step - loss: 0.0167 - acc: 1.0000
Epoch 26/100
1/1 [==============================] - 0s 933us/step - loss: 0.0151 - acc: 1.0000
Epoch 27/100
1/1 [==============================] - 0s 785us/step - loss: 0.0138 - acc: 1.0000
Epoch 28/100
1/1 [==============================] - 0s 1ms/step - loss: 0.0127 - acc: 1.0000
Epoch 29/100
1/1 [==============================] - 0s 1ms/step - loss: 0.0118 - acc: 1.0000
Epoch 30/100
1/1 [==============================] - 0s 824us/step - loss: 0.0109 - acc: 1.0000
Epoch 31/100
1/1 [==============================] - 0s 1ms/step - loss: 0.0102 - acc: 1.0000
Epoch 32/100
1/1 [==============================] - 0s 1ms/step - loss: 0.0096 - acc: 1.0000
Epoch 33/100
1/1 [==============================] - 0s 819us/step - loss: 0.0090 - acc: 1.0000
Epoch 34/100
1/1 [==============================] - 0s 750us/step - loss: 0.0085 - acc: 1.0000
Epoch 35/100
1/1 [==============================] - 0s 887us/step - loss: 0.0081 - acc: 1.0000
Epoch 36/100
1/1 [==============================] - 0s 1ms/step - loss: 0.0076 - acc: 1.0000
Epoch 37/100
1/1 [==============================] - 0s 803us/step - loss: 0.0072 - acc: 1.0000
Epoch 38/100
1/1 [==============================] - 0s 840us/step - loss: 0.0069 - acc: 1.0000
Epoch 39/100
1/1 [==============================] - 0s 1ms/step - loss: 0.0066 - acc: 1.0000
Epoch 40/100
1/1 [==============================] - 0s 830us/step - loss: 0.0063 - acc: 1.0000
Epoch 41/100
1/1 [==============================] - 0s 898us/step - loss: 0.0060 - acc: 1.0000
Epoch 42/100
1/1 [==============================] - 0s 1ms/step - loss: 0.0057 - acc: 1.0000
Epoch 43/100
1/1 [==============================] - 0s 1ms/step - loss: 0.0055 - acc: 1.0000
Epoch 44/100
1/1 [==============================] - 0s 803us/step - loss: 0.0053 - acc: 1.0000
Epoch 45/100
1/1 [==============================] - 0s 932us/step - loss: 0.0051 - acc: 1.0000
Epoch 46/100
1/1 [==============================] - 0s 894us/step - loss: 0.0049 - acc: 1.0000
Epoch 47/100
1/1 [==============================] - 0s 849us/step - loss: 0.0047 - acc: 1.0000
Epoch 48/100
1/1 [==============================] - 0s 1ms/step - loss: 0.0046 - acc: 1.0000
Epoch 49/100
1/1 [==============================] - 0s 2ms/step - loss: 0.0044 - acc: 1.0000
Epoch 50/100
1/1 [==============================] - 0s 838us/step - loss: 0.0043 - acc: 1.0000
Epoch 51/100
1/1 [==============================] - 0s 1ms/step - loss: 0.0041 - acc: 1.0000
Epoch 52/100
1/1 [==============================] - 0s 859us/step - loss: 0.0040 - acc: 1.0000
Epoch 53/100
1/1 [==============================] - 0s 940us/step - loss: 0.0039 - acc: 1.0000
Epoch 54/100
1/1 [==============================] - 0s 838us/step - loss: 0.0038 - acc: 1.0000
Epoch 55/100
1/1 [==============================] - 0s 783us/step - loss: 0.0037 - acc: 1.0000
Epoch 56/100
1/1 [==============================] - 0s 999us/step - loss: 0.0036 - acc: 1.0000
Epoch 57/100
1/1 [==============================] - 0s 877us/step - loss: 0.0035 - acc: 1.0000
Epoch 58/100
1/1 [==============================] - 0s 785us/step - loss: 0.0034 - acc: 1.0000
Epoch 59/100
1/1 [==============================] - 0s 1ms/step - loss: 0.0033 - acc: 1.0000
Epoch 60/100
1/1 [==============================] - 0s 978us/step - loss: 0.0032 - acc: 1.0000
Epoch 61/100
1/1 [==============================] - 0s 856us/step - loss: 0.0032 - acc: 1.0000
Epoch 62/100
1/1 [==============================] - 0s 1ms/step - loss: 0.0031 - acc: 1.0000
Epoch 63/100
1/1 [==============================] - 0s 1ms/step - loss: 0.0030 - acc: 1.0000
Epoch 64/100
1/1 [==============================] - 0s 917us/step - loss: 0.0030 - acc: 1.0000
Epoch 65/100
1/1 [==============================] - 0s 789us/step - loss: 0.0029 - acc: 1.0000
Epoch 66/100
1/1 [==============================] - 0s 1ms/step - loss: 0.0028 - acc: 1.0000
Epoch 67/100
1/1 [==============================] - 0s 915us/step - loss: 0.0028 - acc: 1.0000
Epoch 68/100
1/1 [==============================] - 0s 827us/step - loss: 0.0027 - acc: 1.0000
Epoch 69/100
1/1 [==============================] - 0s 1ms/step - loss: 0.0027 - acc: 1.0000
Epoch 70/100
1/1 [==============================] - 0s 1ms/step - loss: 0.0026 - acc: 1.0000
Epoch 71/100
1/1 [==============================] - 0s 1ms/step - loss: 0.0026 - acc: 1.0000
Epoch 72/100
1/1 [==============================] - 0s 1ms/step - loss: 0.0025 - acc: 1.0000
Epoch 73/100
1/1 [==============================] - 0s 1ms/step - loss: 0.0025 - acc: 1.0000
Epoch 74/100
1/1 [==============================] - 0s 932us/step - loss: 0.0024 - acc: 1.0000
Epoch 75/100
1/1 [==============================] - 0s 1ms/step - loss: 0.0024 - acc: 1.0000
Epoch 76/100
1/1 [==============================] - 0s 989us/step - loss: 0.0023 - acc: 1.0000
Epoch 77/100
1/1 [==============================] - ETA: 0s - loss: 0.0023 - acc: 1.000 - 0s 1ms/step - loss: 0.0023 - acc: 1.0000
Epoch 78/100
1/1 [==============================] - 0s 837us/step - loss: 0.0022 - acc: 1.0000
Epoch 79/100
1/1 [==============================] - 0s 1ms/step - loss: 0.0022 - acc: 1.0000
Epoch 80/100
1/1 [==============================] - 0s 839us/step - loss: 0.0022 - acc: 1.0000
Epoch 81/100
1/1 [==============================] - 0s 1ms/step - loss: 0.0021 - acc: 1.0000
Epoch 82/100
1/1 [==============================] - 0s 1ms/step - loss: 0.0021 - acc: 1.0000
Epoch 83/100
1/1 [==============================] - 0s 1ms/step - loss: 0.0021 - acc: 1.0000
Epoch 84/100
1/1 [==============================] - 0s 1ms/step - loss: 0.0020 - acc: 1.0000
Epoch 85/100
1/1 [==============================] - 0s 1ms/step - loss: 0.0020 - acc: 1.0000
Epoch 86/100
1/1 [==============================] - 0s 825us/step - loss: 0.0020 - acc: 1.0000
Epoch 87/100

1/1 [==============================] - 0s 993us/step - loss: 0.0019 - acc: 1.0000
Epoch 88/100
1/1 [==============================] - 0s 760us/step - loss: 0.0019 - acc: 1.0000
Epoch 89/100
1/1 [==============================] - 0s 898us/step - loss: 0.0019 - acc: 1.0000
Epoch 90/100
1/1 [==============================] - 0s 713us/step - loss: 0.0018 - acc: 1.0000
Epoch 91/100
1/1 [==============================] - 0s 1ms/step - loss: 0.0018 - acc: 1.0000
Epoch 92/100
1/1 [==============================] - 0s 1ms/step - loss: 0.0018 - acc: 1.0000
Epoch 93/100
1/1 [==============================] - 0s 2ms/step - loss: 0.0018 - acc: 1.0000
Epoch 94/100
1/1 [==============================] - 0s 811us/step - loss: 0.0017 - acc: 1.0000
Epoch 95/100
1/1 [==============================] - 0s 862us/step - loss: 0.0017 - acc: 1.0000
Epoch 96/100
1/1 [==============================] - 0s 924us/step - loss: 0.0017 - acc: 1.0000
Epoch 97/100
1/1 [==============================] - 0s 1000us/step - loss: 0.0017 - acc: 1.0000
Epoch 98/100
1/1 [==============================] - 0s 800us/step - loss: 0.0016 - acc: 1.0000
Epoch 99/100
1/1 [==============================] - 0s 1ms/step - loss: 0.0016 - acc: 1.0000
Epoch 100/100
1/1 [==============================] - 0s 971us/step - loss: 0.0016 - acc: 1.0000

In [163]:
results = model.evaluate([tf.keras.preprocessing.sequence.pad_sequences(test_data['title_d']),
           tf.keras.preprocessing.sequence.pad_sequences(test_data['like']),
           tf.keras.preprocessing.sequence.pad_sequences(test_data['dislike']),
            tf.keras.preprocessing.sequence.pad_sequences(test_data['all_genres'])
           ],test_data['predict_labels'].values, verbose=1)

1/1 [==============================] - 0s 1ms/step - loss: 2.8565 - acc: 0.0000e+00

In [164]:
pred = model.predict([tf.keras.preprocessing.sequence.pad_sequences(test_data['title_d']),
           tf.keras.preprocessing.sequence.pad_sequences(test_data['like']),
           tf.keras.preprocessing.sequence.pad_sequences(test_data['dislike']),
            tf.keras.preprocessing.sequence.pad_sequences(test_data['all_genres'])
           ])

In [70]:
pred

array([[0.04315177, 0.04824422, 0.03746354, 0.04581976, 0.12655161,
        0.0534274 , 0.05523088, 0.05852563, 0.3865711 , 0.044081  ,
        0.05478231, 0.04615074],
       [0.05005604, 0.07310611, 0.04934212, 0.05543246, 0.22852717,
        0.0603537 , 0.06539322, 0.04562678, 0.21067618, 0.04292813,
        0.0480547 , 0.07050335],
       [0.0562546 , 0.08020632, 0.06767781, 0.14779069, 0.09501302,
        0.06685804, 0.06779256, 0.05754537, 0.18131818, 0.04788259,
        0.06096609, 0.07069473],
       [0.0562546 , 0.08020632, 0.06767781, 0.14779069, 0.09501302,
        0.06685804, 0.06779256, 0.05754537, 0.18131818, 0.04788259,
        0.06096609, 0.07069473]], dtype=float32)

In [71]:
for i in range(4):
    print(np.argmax(pred[i]))

8
4
8
8

In [27]:
model.save("candidate_generation.h5")

In [132]:
# candidate generation: 
###### 각 user당 top-7개의 추천 데이터를 뽑아낸다.
N = 7
result = np.sort((-pred).argsort()[:,:N])

result = result.flatten()
result[result>rating_details_sample["movie"].max()]=0
result = np.unique(result)
print(result)

[0 1 2 3 4 5 6 7 8]

In [150]:
data = movies.loc[[1, 2, 3,6]]

In [151]:
data

,movie_id,title,release_date,video_release_date,imdb_url,genre_unknown,Action,Adventure,Animation,Children,...,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western,year,all_genres
1,1,GoldenEye (2011),01-Jan-2011,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,0,1,0,0,2011,"1,2,16"
2,2,Four Rooms (2020),01-Jan-2020,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,...,0,0,0,0,0,1,0,0,2020,16
3,3,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1995,"1,5,8"
6,6,Twelve Monkeys (2018),01-Jan-2018,NaN,http://us.imdb.com/M/title-exact?Twelve%20Monk...,0,0,0,0,0,...,0,0,0,0,1,0,0,0,2018,"8,15"

In [142]:
##### ranking

In [143]:
user_title_list_e

,user,dislike,like,title_d,all_genres,occupation,sex,predict_labels
1,1,[10],"[4, 5]","[4, 5]","[2, 5, 8, 6, 1]",other,F,2
2,2,[10],"[0, 6]","[0, 6]","[5, 4, 8, 6, 1]",writer,M,8
3,3,[6],[10],[6],"[4, 8, 5]",technician,M,8
4,4,[7],[10],[7],"[8, 5, 1]",other,F,3
5,5,[10],[8],[8],[8],executive,M,4